.detailpage-container{
    margin-left: 15%;
}

.images {
    display: flex;
    flex-direction: row;
}

.header-image {
    width: 50%;
    height: 50%;
}

.screenshots{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.screenshots img {
    width: 350px;
}
