.detailpage-container{
    margin-left: 15%;
}

.images {
    background-color: #360607;
}

video {
    width: 50%;
}
.detailpage-container h2{
    background-color: #360607;
    color: #fff9f6;
    margin: 0;
}

.game-details{
    display: flex;
    flex-direction: row;
    background-color: #360607;
    color: #fff9f6;
}

.game-description{
    width: 50%;
    padding: 40px 20px 20px 20px;
    min-height: 68vh;
    height: auto;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.details ul {
    list-style-type: none
}
